body {
  background-color: #232229;
  color: #FFFFFF;
  font-family: jost;
  height: 100vh;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}