.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2A33;
    margin:0;
    padding:0;
    .footer__delete{
        background-image: linear-gradient(180deg, #e1a0a0,#e58181);
        box-shadow: 0 10px 40px #6b3838;
        font-size: 16px;
        padding:1rem;
        &:hover{
            background-image: linear-gradient(180deg,#E2C1C1, #EA8282);
        }
    }
}